
<!-- <p>rootscope (session):{{logged_in_user._id}}</p> -->
<!-- <div ng-if="logged_in_user._id"> -->
	<!-- <h1>Homepage after login</h1> -->
	<h1>Welcome, {{logged_in_user.name}}!</h1>
	<br>

<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<th class="col-md-2">
						<a href="" ng-click="sortType = 'topic_name'; sortReverse = !sortReverse">
				          <span ng-show="sortType == 'topic_name'" class="fa fa-caret-down"></span>
				          Topic Name <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
			            </a>
					</th>
					<th class="col-md-2">
						<a href="" ng-click="sortType = 'category'; sortReverse = !sortReverse">
				          <span ng-show="sortType == 'category'" class="fa fa-caret-down"></span>
				          Category <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
			            </a>
					</th>
					<th class="col-md-6">
						<a href="" ng-click="sortType = 'description'; sortReverse = !sortReverse">
				          <span ng-show="sortType == 'description'" class="fa fa-caret-down"></span>
				          Description <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
			            </a>
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="topic in all_topics | orderBy: sortType : sortReverse">
						<td><a href="" ng-click="topicShow(topic._id)" ng-bind='topic.topic_name'></a></td>
						<td ng-bind='topic.category'></td>
						<td ng-bind='topic.description'></td>
						<!-- <td ng-bind='topic.difficulty'></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-6">
		<h3>Add new algorithm</h3>
		<form class="form-group">
			<label for="topic">Algorithm TItle:</label>
  			<input type="text" class="form-control" id="topic" ng-model="topic.name">

	  		<label for="description">Description</label>
  			<textarea class="form-control" rows="5" id="description" placeholder="write or add a snippet" ng-model="topic.description"></textarea>

	     	<label for="category">Category</label>
			  <select class="form-control" id="category" ng-model="topic.category">
			    <option>Arrays</option>
			    <option>Strings</option>
			    <option>Sorts</option>
				<option>Data Structures</option>
			  </select>
			  <button type="submit" ng-click="addTopic(topic)">Submit</button>
			<br>
	</div>

	



