
<!-- <p>{{validations.name.message}}</p> -->
<p ng-repeat="x in data">{{x}}</p>
<!-- <form>
	<input type="text" ng-model="newUser.name">
	<input type="submit" value="Enter" ng-click="addUser()">
</form> -->


<br>
<div class="row">
  <div class="col-md-6">
    <h2>Please enter your name:</h2>

    <form name="userForm">
        <div class="form-group">
          <input name="name" required class="form-control" ng-model="user.name"
            placeholder="Name">
            <div class="alert alert-danger" ng-show="userForm.name.$error.required && userForm.name.$dirty">{{validations.name.message}}
      		</div>
        </div>

        <!-- <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input name="email" required class="form-control" ng-model="user.email"
              placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <input name="username" required class="form-control" ng-model="user.username"
            placeholder="Username">
        </div> -->

        <button type="submit" ng-click="addUser(user)" class="btn btn-default pull-right">
          Save
        </button>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="login.email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="login.password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg" ng-click="loginUser(login)">Login</button>
    </form>

    <hr>

    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>

  <div class="col-md-6">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="signup.email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="signup.password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg" ng-click="newUser(signup)">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

  </div>
</div>












