<!-- <a href="#/dashboard">Home</a> | <a href="#/" ng-click="test()">logout</a> -->

<div class="row">
	<div class="col-md-10 col-md-offset-1 topic_desc" ng-repeat="topic in all_topics" ng-if="topic._id == topic_id">
		<h2>{{topic.topic_name}}</h2>
		<p class="topic_border">Problem: {{topic.description}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-4">
			<a href="">edit</a> | <a href="">share</a>
		</div>
		<div class="col-md-4">
			<p>last edited:</p>
		</div>
		<div class="col-md-4 recap">
			<a href="#/recap"><button type="button" class=" btn btn-primary btn-lg outline pull-right">Dojo Recap</button></a>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h4>Post your answer here...</h4>
		<form>
		<!-- TESTING  HLJS-->
		<div hljs>
			<div ckeditor="options" ng-model="newPost.content" ready="onReady()">
	  		</div>
	  </div>
			<button type="submit" ng-click="addPost(newPost)" class="btn btn-default pull-right">Post</button>
		</form>
	</div>
</div>

<div class="row">
<div ng-repeat="post in all_posts">
	<div class="col-md-12" style="border-top: 1px solid; margin-top:25px;">
		<div class="col-md-8 col-md-offset-1 test">
			<div class="panel-heading">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab1default" data-toggle="tab">Javascript</a></li>
					<li><a href="#/temp" data-toggle="tab">Big-O</a></li>
					<li><a href="" data-toggle="tab">Java</a></li>
					<li><a href="" data-toggle="tab">Python</a></li>
					<li><a href="" data-toggle="tab">Objective-C</a></li>
					<li class="dropdown">
					<a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" data-toggle="tab">Default 4</a></li>
							<li><a href="" data-toggle="tab">Default 5</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<h4 class="post_markdown" ng-bind-html="post.content"></h4>
			<p ng-repeat="vote in post.votes | filter: query as x"></p>
			<!-- pnumber of upvotes {{x.length}} -->
		</div>


		<div class="col-md-3 votes">
			<button type="button" ng-click="upVote(post._id)" class="btn btn-default btn-lg">
			  <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span> Upvote
			</button>
			<button type="button" ng-click="upVote(post._id)" class="btn btn-default btn-lg">
			  <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span> Downvote
			</button>
			<p><a href="">User Name: {{post._user.name}}</a></p>
			<p>Date Created: Jan 10, 2015</p>
			<p><a href="">Share</a> | <a href="">Edit</a></p>
		</div>
	</div>

<div class="row">
	<div class="col-md-7 col-md-offset-1">
		<form>
			<textarea name="" id="" cols="30" class="form-control" rows="3" ng-model="comment.comment"></textarea>
			<input type="submit" value="add comment" ng-click="addComment(post._id, comment)">
		</form>

		<div class="commentbox">
			<table class="table table-striped">
			    <thead>
			      <tr>
			        <th>Comments</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="comment in post.comments">
			        <td>{{comment.content}}</td>
			      </tr>
			    </tbody>
			  </table>
		</div>
	</div>
</div>
</div>
</div>

<br>
<br>
<hr>

